<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivivats.kindcompanion"
    android:versionCode="3"
    android:versionName="0.1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity android:name=".OnBoardingActivity" />
        <activity
            android:name=".FiveThingsGameActivity"
            android:parentActivityName=".FiveThingsActivity" />
        <activity
            android:name=".CalmDownQuicklyActivity"
            android:parentActivityName=".FrontPageActivity" />
        <activity
            android:name=".ApplicationAboutActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".ApplicationCreditsActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".OffMyChestActivity"
            android:parentActivityName=".FrontPageActivity" />
        <activity
            android:name=".ProblemSolvingToolActivity"
            android:parentActivityName=".UsefulInformationActivity" />
        <activity
            android:name=".RelaxationToolActivity"
            android:parentActivityName=".UsefulInformationActivity" />
        <activity
            android:name=".MindfulnessToolActivity"
            android:parentActivityName=".UsefulInformationActivity" />
        <activity
            android:name=".SuicideInfoActivity"
            android:parentActivityName=".UsefulInformationActivity" />
        <activity
            android:name=".DepressionInfoActivity"
            android:parentActivityName=".UsefulInformationActivity" />
        <activity
            android:name=".AnxietyInfoActivity"
            android:parentActivityName=".UsefulInformationActivity" />
        <activity
            android:name=".CrossItOffActivity"
            android:parentActivityName=".DealWithAnxietyActivity" />
        <activity
            android:name=".AnxietyChecklistActivity"
            android:parentActivityName=".DealWithAnxietyActivity" />
        <activity
            android:name=".FiveThingsActivity"
            android:parentActivityName=".DealWithAnxietyActivity" />
        <activity
            android:name=".RelaxingPaintingActivity"
            android:parentActivityName=".RelaxingPaintingFrontActivity" />
        <activity
            android:name=".RelaxingMusicActivity"
            android:parentActivityName=".DealWithAnxietyActivity" />
        <activity
            android:name=".RelaxingPaintingFrontActivity"
            android:parentActivityName=".DealWithAnxietyActivity" />
        <activity
            android:name=".ControlledBreathingActivity"
            android:parentActivityName=".DealWithAnxietyActivity" />
        <activity
            android:name=".VaultLoginActivity"
            android:parentActivityName=".FrontPageActivity" />
        <activity
            android:name=".DealWithAnxietyActivity"
            android:parentActivityName=".FrontPageActivity" />
        <activity
            android:name=".UsefulInformationActivity"
            android:parentActivityName=".FrontPageActivity" />

        <service
            android:name=".NotifyService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".SettingsActivity$DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"> <!-- Main Home Activity. Its the front page of the app for now -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".FrontPageActivity" />
        <activity android:name=".NoteAudioView" />
        <activity android:name=".AudioRecorderActivity" />
        <activity android:name=".NoteImageView" />
        <activity android:name=".PaintActivity" />
        <activity android:name=".NoteEditActivity" />
        <activity
            android:name=".ReminderNoteListActivity"
            android:parentActivityName=".FrontPageActivity" />
        <activity
            android:name=".VaultNoteListActivity"
            android:parentActivityName=".FrontPageActivity" />
        <activity android:name=".FrontPageActivity"> <!-- Front Page Activity. This is the front page while debugging. -->

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shivivats.kindcompanion.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>